<footer id="contact" class="bg-violet-200">
  <div class="max-w-screen-lg mx-auto w-[90vw] py-5">
    <div class="flex gap-5 max-sm:gap-1 max-sm:flex-col max-sm:text-center justify-between my-2 text-violet-800">
      <div class="my-2 sm:max-w-[160px]">
        <h3 class="font-semibold text-black text-xl">Contact Number</h3>
        <div>
          <a class="hover:font-semibold" href="tel:9199999999">+91 9988776655</a>
        </div>
        <div>
          <a class="hover:font-semibold" href="tel:91999999999">+91 9922334455</a>
        </div>
      </div>
      <div class="my-2 sm:max-w-[160px]">
        <h3 class="font-semibold text-black text-xl">Navigate</h3>
        <div>
          <a class="hover:font-semibold" routerLink="/services">Service Page</a>
        </div>
        <div>
          <a class="hover:font-semibold" routerLink="/adminlogin">Admin Page</a>
        </div>
      </div>
      <div class="my-2 sm:max-w-[160px]">
        <h3 class="font-semibold text-black text-xl">LINKS</h3>
        <div class="flex gap-2 gap-y-1 flex-wrap max-sm:justify-center">
          <a class="hover:font-semibold" href="#">
            <i class="fa-brands fa-youtube fa-xl mr-2"></i>
            <span>Youtube</span>
          </a>
          <a class="hover:font-semibold" href="#">
            <i class="fa-brands mr-2 fa-instagram fa-xl"></i>
            <span>Instagram</span>
          </a>
        </div>
      </div>
    </div>
    <p class="text-center text-violet-800 text-sm mt-3">
      © 2024 ProTouch. All rights reserved.
    </p>
  </div>
</footer>

