<div class="w-[100vw]">
  <div class="px-[5vw] mx-auto py-8 max-w-screen-2xl">
    <a class="p-3 rounded-full bg-violet-200 text-violet-800" routerLink="/services"><i
        class="fa-solid fa-arrow-left mr-2"></i>Back</a>
    <h3 class="py-5 font-semibold text-4xl">Products</h3>
    <div class="flex justify-center flex-wrap gap-5" *ngIf="products$ | async as products">
      <div
        class="max-md:min-w-[300px] md:max-w-[300px] max-md:flex-1 border border-gray-300 rounded-xl overflow-hidden bg-white"
        *ngFor="let product of products">
        <img class="aspect-[3/2] object-cover" [src]="apiUrl + '/api/image/' + product.img" alt="" />
        <div class="p-4 border-t border-gray-300">
          <p class="text-xl font-semibold">
            {{ product.name
            }}<i class="fa-solid ml-2 text-violet-800 fa-chevron-right"></i>
          </p>
          <p class="text-gray-700">{{ product.description }}</p>
          <div class="text-xl my-3 font-semibold text-gray-700">
            <span class="text-gray-800 text-2xl">Price:</span> {{ product.price }}&#x20b9;
          </div>
          <a class="w-full py-2 hover:bg-violet-600 rounded-md inline-block text-center mt-3 bg-violet-700 text-white">Add
            to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
